.tech{
	height: 90px;
}

.cara {
    border-radius: 500px;
	width: 250px;
	height: 250px;
	border: solid 1px #ffffff;
	line-height: 5.5rem;
}

.aptitudes{
	width: auto;
}

.tech-list{
	display: flex; justify-content: space-between;padding-top: 10px;
}


/* BG */

body.is-preload #bg:before {
	background-color: transparent;
}

/* Header */

body.is-preload #header {
	-moz-filter: none;
	-webkit-filter: none;
	-ms-filter: none;
	filter: none;
}

	body.is-preload #header > * {
		opacity: 1;
	}

	body.is-preload #header .content .inner {
		max-height: none;
		padding: 3rem 2rem;
		opacity: 1;
	}

/* Main */

#main article {
	opacity: 1;
	margin: 4rem 0 0 0;
}
