.tech{
	height: 90px;
}

.cara {
    border-radius: 500px;
	width: 200px;
	height: 200px;
	border: solid 1px #ffffff;
	line-height: 5.5rem;
}

.aptitudes{
	width: auto;
}

.tech-list{
	display: flex; justify-content: space-between;padding-top: 10px;
}
