body {
  color: black;
  background-color: white;
  transition: color 0.2s ease-in-out;
  background-color: 0.2s ease-in-out;
}
p[id]{
  font-weight: 900;

}
.glitch{color: black}
:root {
  cursor: url("../../images/custom-cursor-black.png"), auto;
  font-weight: 700;
}
.cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 1000ms, height 1000ms;
}

.cursor.large {
  height: 80px;
  width: 80px;
  background-color: black;
  opacity: 30%;
  cursor: none;
}

ul.icons li a {
  border-radius: 100%;
  box-shadow: inset 0 0 0 1px black;
  display: inline-block;
  height: 2.25rem;
  line-height: 2.25rem;
  text-align: center;
  width: 2.25rem;
  cursor: none;
}

#header nav ul li {
  padding-left: 0;
  border-left: solid 1px black;
}

#header nav.use-middle ul li.is-middle {
  border-left: 0;
}

#header nav ul {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
  border: solid 1px black;
  border-radius: 4px;
  font-weight: 900;
}

#header nav.use-middle:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  width: 1px;
  height: 100%;
  background: black;
}

@media screen and (max-width: 480px) {
  #header {
    padding: 1.5rem 0;
  }

  #header .content .inner {
    padding: 2.5rem 0;
  }

  #header nav ul {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 10rem;
    max-width: 100%;
  }

  #header nav ul li {
    border-left: 0;
    border-top: solid 1px black;
  }

  #header nav ul li:first-child {
    border-top: 0;
  }

  #header nav ul li a {
    height: 3rem;
    line-height: 3rem;
    min-width: 0;
    width: 100%;
  }

  #header nav.use-middle:after {
    display: none;
  }
}

#main article {
  -moz-transform: translateY(0.25rem);
  -webkit-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  transform: translateY(0.25rem);
  -moz-transition: opacity 0.325s ease-in-out, -moz-transform 0.325s ease-in-out;
  -webkit-transition: opacity 0.325s ease-in-out,
    -webkit-transform 0.325s ease-in-out;
  -ms-transition: opacity 0.325s ease-in-out, -ms-transform 0.325s ease-in-out;
  transition: opacity 0.325s ease-in-out, transform 0.325s ease-in-out;
  padding: 4.5rem 2.5rem 1.5rem 2.5rem;
  position: relative;
  width: 40rem;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 4px;
  opacity: 0;
}

#main article.active{
  color: white;
}


/* preloader */

/* @keyframes pong {
  to {
    opacity: 0.1;
    transform: translate3d(0, -16px, 0);
  }
}
.pong {
  display: flex;
  justify-content: center;
}

.pong > div {
  width: 16px;
  height: 16px;
  margin: 3rem 0.2rem;
  background: #8385aa;
  border-radius: 50%;
  animation: pong 0.6s infinite alternate;
}

.pong > div:nth-child(2) {
  animation-delay: 0.2s;
}

.pong > div:nth-child(3) {
  animation-delay: 0.4s;
} */
/**
  * pong
  *
  * 
*/
.pong {
  background: repeating-linear-gradient(180deg, var(--primary) 0, var(--primary) 4%, transparent 4%, transparent 6%, var(--primary) 6%) 49px 0/2px 100% no-repeat;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px; }
  .pong div {
    content: -850 741, 850 812, -850 -615, 850 437, -850 655, 850 -117, -850 -345, 850 -515, -850 -55, 850 562, -850 556, 850 819, -850 590, 850 384, -850 -854, 850 -27, -850 215, 850 921, -850 13, 850 -79, -850 213, 850 -602, -850 -763, 850 -660; }
    .pong div:nth-child(1) {
      -webkit-animation: play 6s infinite linear alternate;
              animation: play 6s infinite linear alternate;
      background: var(--primary);
      height: 5%;
      left: 50%;
      position: absolute;
      top: 50%;
      width: 5%;
      will-change: transform;
      z-index: 2;
      content: -850 741; }
    .pong div:nth-child(2), .pong div:nth-child(3) {
      -webkit-animation-direction: alternate;
              animation-direction: alternate;
      -webkit-animation-duration: 6s;
              animation-duration: 6s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      background: var(--primary);
      height: 15%;
      position: absolute;
      top: 50%;
      width: 5%;
      will-change: transform; }
    .pong div:nth-child(2) {
      -webkit-animation-name: moveOne;
              animation-name: moveOne;
      left: 0; }
    .pong div:nth-child(3) {
      -webkit-animation-name: moveTwo;
              animation-name: moveTwo;
      right: 0; }

@-webkit-keyframes play {
  0% {
    -webkit-transform: translate(-50%, -50%) translate(-850%, 741%);
            transform: translate(-50%, -50%) translate(-850%, 741%); }
  10% {
    -webkit-transform: translate(-50%, -50%) translate(850%, 812%);
            transform: translate(-50%, -50%) translate(850%, 812%); }
  20% {
    -webkit-transform: translate(-50%, -50%) translate(-850%, -615%);
            transform: translate(-50%, -50%) translate(-850%, -615%); }
  30% {
    -webkit-transform: translate(-50%, -50%) translate(850%, 437%);
            transform: translate(-50%, -50%) translate(850%, 437%); }
  40% {
    -webkit-transform: translate(-50%, -50%) translate(-850%, 655%);
            transform: translate(-50%, -50%) translate(-850%, 655%); }
  50% {
    -webkit-transform: translate(-50%, -50%) translate(850%, -117%);
            transform: translate(-50%, -50%) translate(850%, -117%); }
  60% {
    -webkit-transform: translate(-50%, -50%) translate(-850%, -345%);
            transform: translate(-50%, -50%) translate(-850%, -345%); }
  70% {
    -webkit-transform: translate(-50%, -50%) translate(850%, -515%);
            transform: translate(-50%, -50%) translate(850%, -515%); }
  80% {
    -webkit-transform: translate(-50%, -50%) translate(-850%, -55%);
            transform: translate(-50%, -50%) translate(-850%, -55%); }
  90% {
    -webkit-transform: translate(-50%, -50%) translate(850%, 562%);
            transform: translate(-50%, -50%) translate(850%, 562%); }
  100% {
    -webkit-transform: translate(-50%, -50%) translate(-850%, 741%);
            transform: translate(-50%, -50%) translate(-850%, 741%); } }

@keyframes play {
  0% {
    -webkit-transform: translate(-50%, -50%) translate(-850%, 741%);
            transform: translate(-50%, -50%) translate(-850%, 741%); }
  10% {
    -webkit-transform: translate(-50%, -50%) translate(850%, 812%);
            transform: translate(-50%, -50%) translate(850%, 812%); }
  20% {
    -webkit-transform: translate(-50%, -50%) translate(-850%, -615%);
            transform: translate(-50%, -50%) translate(-850%, -615%); }
  30% {
    -webkit-transform: translate(-50%, -50%) translate(850%, 437%);
            transform: translate(-50%, -50%) translate(850%, 437%); }
  40% {
    -webkit-transform: translate(-50%, -50%) translate(-850%, 655%);
            transform: translate(-50%, -50%) translate(-850%, 655%); }
  50% {
    -webkit-transform: translate(-50%, -50%) translate(850%, -117%);
            transform: translate(-50%, -50%) translate(850%, -117%); }
  60% {
    -webkit-transform: translate(-50%, -50%) translate(-850%, -345%);
            transform: translate(-50%, -50%) translate(-850%, -345%); }
  70% {
    -webkit-transform: translate(-50%, -50%) translate(850%, -515%);
            transform: translate(-50%, -50%) translate(850%, -515%); }
  80% {
    -webkit-transform: translate(-50%, -50%) translate(-850%, -55%);
            transform: translate(-50%, -50%) translate(-850%, -55%); }
  90% {
    -webkit-transform: translate(-50%, -50%) translate(850%, 562%);
            transform: translate(-50%, -50%) translate(850%, 562%); }
  100% {
    -webkit-transform: translate(-50%, -50%) translate(-850%, 741%);
            transform: translate(-50%, -50%) translate(-850%, 741%); } }

@-webkit-keyframes moveOne {
  0% {
    -webkit-transform: translate(0%, -50%) translate(0%, 247%);
            transform: translate(0%, -50%) translate(0%, 247%); }
  20%, 30% {
    -webkit-transform: translate(0%, -50%) translate(0%, -205%);
            transform: translate(0%, -50%) translate(0%, -205%); }
  40%, 50% {
    -webkit-transform: translate(0%, -50%) translate(0%, 218.33333%);
            transform: translate(0%, -50%) translate(0%, 218.33333%); }
  60%, 70% {
    -webkit-transform: translate(0%, -50%) translate(0%, -115%);
            transform: translate(0%, -50%) translate(0%, -115%); }
  80%, 90% {
    -webkit-transform: translate(0%, -50%) translate(0%, -18.33333%);
            transform: translate(0%, -50%) translate(0%, -18.33333%); }
  100% {
    -webkit-transform: translate(0%, -50%) translate(0%, 247%);
            transform: translate(0%, -50%) translate(0%, 247%); } }

@keyframes moveOne {
  0% {
    -webkit-transform: translate(0%, -50%) translate(0%, 247%);
            transform: translate(0%, -50%) translate(0%, 247%); }
  20%, 30% {
    -webkit-transform: translate(0%, -50%) translate(0%, -205%);
            transform: translate(0%, -50%) translate(0%, -205%); }
  40%, 50% {
    -webkit-transform: translate(0%, -50%) translate(0%, 218.33333%);
            transform: translate(0%, -50%) translate(0%, 218.33333%); }
  60%, 70% {
    -webkit-transform: translate(0%, -50%) translate(0%, -115%);
            transform: translate(0%, -50%) translate(0%, -115%); }
  80%, 90% {
    -webkit-transform: translate(0%, -50%) translate(0%, -18.33333%);
            transform: translate(0%, -50%) translate(0%, -18.33333%); }
  100% {
    -webkit-transform: translate(0%, -50%) translate(0%, 247%);
            transform: translate(0%, -50%) translate(0%, 247%); } }

@-webkit-keyframes moveTwo {
  0% {
    content: 850 812;
    -webkit-transform: translate(0%, -50%) translate(0%, 270.66667%);
            transform: translate(0%, -50%) translate(0%, 270.66667%); }
  20%, 10% {
    -webkit-transform: translate(0%, -50%) translate(0%, 270.66667%);
            transform: translate(0%, -50%) translate(0%, 270.66667%); }
  40%, 30% {
    -webkit-transform: translate(0%, -50%) translate(0%, 145.66667%);
            transform: translate(0%, -50%) translate(0%, 145.66667%); }
  60%, 50% {
    -webkit-transform: translate(0%, -50%) translate(0%, -39%);
            transform: translate(0%, -50%) translate(0%, -39%); }
  80%, 70% {
    -webkit-transform: translate(0%, -50%) translate(0%, -171.66667%);
            transform: translate(0%, -50%) translate(0%, -171.66667%); }
  100%, 90% {
    -webkit-transform: translate(0%, -50%) translate(0%, 187.33333%);
            transform: translate(0%, -50%) translate(0%, 187.33333%); } }

@keyframes moveTwo {
  0% {
    content: 850 812;
    -webkit-transform: translate(0%, -50%) translate(0%, 270.66667%);
            transform: translate(0%, -50%) translate(0%, 270.66667%); }
  20%, 10% {
    -webkit-transform: translate(0%, -50%) translate(0%, 270.66667%);
            transform: translate(0%, -50%) translate(0%, 270.66667%); }
  40%, 30% {
    -webkit-transform: translate(0%, -50%) translate(0%, 145.66667%);
            transform: translate(0%, -50%) translate(0%, 145.66667%); }
  60%, 50% {
    -webkit-transform: translate(0%, -50%) translate(0%, -39%);
            transform: translate(0%, -50%) translate(0%, -39%); }
  80%, 70% {
    -webkit-transform: translate(0%, -50%) translate(0%, -171.66667%);
            transform: translate(0%, -50%) translate(0%, -171.66667%); }
  100%, 90% {
    -webkit-transform: translate(0%, -50%) translate(0%, 187.33333%);
            transform: translate(0%, -50%) translate(0%, 187.33333%); } }

